*{
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
}

/* Layout for the main page */

.mainPageSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;

}
.mainPageSection h2 {
    flex: 1;

}
.mainPageSection img {
    flex: 2;
    object-fit:fill;
}

/* Layout for the Food Now page */

.foodNowSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foodNowSection h2 {
    text-decoration: underline;
    
}
.foodNowSection ul {
    font-size: 20px;
}
